body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: grey;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    margin: 20px 0;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icons a {
    margin: 10px;
}

.icons img {
    width: 50px; /* Adjust the size as needed */
    transition: transform 0.3s, filter 0.3s; /* Smooth transition for hover effect */
}

.icons img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); /* Add a shadow effect on hover */
}
